@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    .page-template-ucs-tracking .sec-request-list .request-list-wrapper .request-item {
      .details {
        margin-bottom: 40px;
      }
      &.no-menu-options {
        .details {
          margin-bottom: 0;
        }
      }
    }
    .page-template-faq-rules {
      .sec-remind {
        div[class*='col-'] {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }  
    .page-template-home {
      .sec-about-us {
        .team-logo {
          max-width: 200px;
        }
        p {
          padding: 0 10px;
        }
      }
      .sec-team-members {
        div[class*='col-'] {
          padding: 0;
        }
        .team-member-wrapper {
          .team-member-item {
            p {
              padding: 0;
            }
          }
        }
      }
      .sec-our-duty {
        .duty-wrapper {
          div[class*='col-'] {
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .col-xs-12:nth-last-child(-n+2) {
            margin-bottom: 30px;
          }
        } 
        h4 {
          font-size: 1rem;
        }
      }
      .bss-section {
        h2 {
            font-size: 2rem;
        }
      }
    } 
    .sec-register {
      .register-wrapper {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (max-width:480px) and (orientation: portrait) {
  .page-header {
    &.background {
      .page-header-text {
        margin-top: -40px;
        font-size: 1.4em;
      }
    }
  }
  
  body {
    .page-template-ucs-tracking {
      .sec-ucs-search {
        padding: 0 10px;
        .search-panel {
          #search-form {
            .item-per-page {
              margin-top: 15px;
              justify-content: flex-start;
              select {
                max-width: 30%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .page-header {
    &.background, &.background-filter {
      .page-header-text {
        margin-top: -20px;
        font-size: 0.98em;
        line-height: 1.6em;
      }
    }

    &.background-filter {
      .page-header-logo {
        margin-top: -50px;
      }
    }
  }
}

@media only screen and (min-width:321px) and (max-width:460px) and (orientation: portrait) {
  body {
    .page-header {
      &.background, &.background-filter {
        .page-header-logo {
          margin-top: -20px;
        }
        .page-header-text {
          margin-top: -30px;
          font-size: 1.1em;
          line-height: 1.6em;
        }
      }
    }
    .footer {
      &-copyright {
        p {
          font-size: 10.7px;
        }  
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .page-header {
    &.background, &.background-filter {
      .page-header-logo {
        margin-top: 10px;  
      }
      .page-header-text {
        margin-top: -55px;
        font-size: 1.4em;
      }
    }

    &.background-filter {
      .page-header-logo {
        margin-top: -50px;  
      }
    }
  }
}