@media only screen and (min-width: 1200px) {
  .bss-navbar {
    width: 100%;
    .navbar-nav {
      .nav-item {
        .nav-link {
          &:hover {
            transition: all 0.3s ease;
            transform: scale(1.1);
          }
        }
      }
    }
  }  
  #scrollToTop {
   &:hover {
    background: rgb(18,18,18);
    background: -moz-linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
    background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#303030",GradientType=1);
    border: 1px solid yellow;
    color: yellow;
   }
  }
}

// @media only screen and (max-width: 1200px) {
//   .bss-navbar {
//     .navbar-collapse {
//       // &-logo {
//       //   display: flex;
//       //   margin-top: 20px;
//       //   flex-direction: column;
//       //   align-items: center;
//       //   img {
//       //     max-width: 230px;
//       //     padding: 0 10px;
//       //   }
//       // }
//       // background: linear-gradient(#121212 0%, #303030 100%);
//       // height: 100%;
//       // position: fixed;
//       // display: block;
//       // top: 0px;
//       // width: 230px;
//       // left: 0;

//       // margin-left: 0;
//       // z-index: 3001;
//       // visibility: visible;
//       // overflow-y: visible;
//       // border-top: none;
//       // text-align: left;
//       // padding-right: 0;
//       // padding-left: 0;
//       // transition: all 0.3s ease-in-out;
//       // overflow: scroll;
//       // .navbar-nav {
//       //   position: relative;
//       //   z-index: 3;
//       //   padding: 20px 0;
//       //   .nav-item {
//       //     transition: all 0.3s;
//       //     padding: 10px;
//       //     margin-right: 0;
//       //     &:last-child {
//       //       padding: 10px;
//       //     }
//       //     &:focus, &:hover {
//       //       background: yellow;
//       //       .nav-link {
//       //         color: black;
//       //       }
//       //     }
//       //     .nav-link {
//       //       &:focus, &:hover {
//       //         // background: yellow;
//       //         color: black;
//       //       }
//       //     }
//       //   }
//       // }
//       // &.collapse {
//       //   &:not(.show) {
//       //     display: block;
//       //     transform: translateX(-100%);
//       //     @media screen and (min-width: 1200px) {
//       //         transform: translateX(0);
//       //     }
  
//       //     @media screen and (max-width: 991px) {
//       //         transform: translateX(-100%);
//       //     }
//       //   }    
//       // }
//     }
//   }
// }

@media only screen and (max-width: 1024px) {
  body {
    .page-template-ucs-tracking {
      .sec-request-list {
        .request-list-wrapper {
          .request-item {
            flex-direction: column;
            .details {
              padding: 20px 5px 20px;
              margin-bottom: 20px;
            }
            .menu-options {
              position: absolute;
              right: 10px;
              bottom: 10px;
            }
          }
        }
      }
      .sec-ucs-search {
        padding: 0 10px;
      }
    }
    .page-template-home {
      .sec-our-duty {
        .duty-wrapper {
          max-width: 100%;
          div[class*='col-'] {
            margin-bottom: 30px;
          }

          // .col-lg-6:nth-last-child(-n+2) {
          //   margin-bottom: 10px;
          // }
          // .col-md-6:nth-last-child(-n+2) {
          //   margin-bottom: 10px;
          // }
          // .col-sm-6:nth-last-child(-n+2) {
          // }

          .col-lg-6:nth-last-child(-n+2) .col-md-6:nth-last-child(-n+2) .col-sm-6:nth-last-child(-n+2) {
            margin-bottom: 5px;
          }
        } 
      }
    } 
  }
} 
