.page-template-faq-rules {
    .sec-remind {
        h1 {
          margin: 20px 0;
        }
        padding: 10px;
        .remind-item {
            $animation_duration: 1s;
            -webkit-animation: fadeIn $animation_duration; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadeIn $animation_duration; /* Firefox < 16 */
            -ms-animation: fadeIn $animation_duration; /* Internet Explorer */
            -o-animation: fadeIn $animation_duration; /* Opera < 12.1 */
            animation: fadeIn $animation_duration;             
            background: linear-gradient(90deg, #0f0f0f 0%, #1b1b1f 33%, #1c1e20 65%, #24292b 100%);
            box-shadow: 0px 0px 0px 2px #EEEEEE;
            border-radius: 0.28571429rem;
            color : white;
            height: 100%;
            .logo {
                max-width: 200px;
                margin-bottom: 20px;
            }
            .content {
                padding-bottom: 20px;
                .text-list {
                    padding: 0 40px;
                    li {
                        margin: 10px 0;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
            .header {
                padding: 20px;
                i {
                    font-size: 10em;  
                    margin-bottom: 10px;
                }
            }
            strong.important {
                color: yellow;
            }
        }
    }
    .sec-faq {
        padding: 20px;
        #faq-accordion {
            .card {
                .card-header {
                    background: rgb(2,0,36);
                    background: -moz-linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(128,36,23,1) 66%, rgba(113,20,6,1) 100%);
                    background: -webkit-linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(128,36,23,1) 66%, rgba(113,20,6,1) 100%);
                    background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(128,36,23,1) 66%, rgba(113,20,6,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#711406",GradientType=1);
                }
                .btn-link {
                    color: yellow;
                    &:hover {
                        color: #e6e01f;
                    }
                }
            }
        }
    }
    .sec-note {
        color: white;
        ul {
            padding: 2em 2em 0em;
            margin-bottom: 1em;
            list-style: none;
            li {
              &::before {
                content: '';
                display: inline-block;
                height: 10px;          
                width: 10px;            
                background-size: 10px;          
                background-image: url("../images/checkmark.png");            
                background-repeat: no-repeat;
                background-color: transparent;
                margin-right: 5px;  
              }  
              margin-bottom: 10px;
            }
        }
    }
}
