@font-face {
  font-family: 'XoloniumBold';
  src: url('../css/font/Xolonium-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'XoloniumRegular';
  src: url('../css/font/Xolonium-Regular.ttf') format('truetype');
}
    