.page-template-maintenance {
  display: flex;
  flex-direction: row;
  height: 100vh;
    .sec-page-content {
      margin-top: 80px;
      width: 100%;
      align-self: center;
      .maintenance {
        color: white;
        padding: 20px 10px;
        // .status {
        //     font-size: 14vw;
        //     margin-bottom: 0;
        // }
        .logo {
            img {
                max-width: 200px;
            }
          margin-bottom: 30px;
        }
        .prompt {
          a {
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
}

.page-maintenance {
  margin-top: 0;
}