@mixin background-filter($color1, $color2, $imageUrl) {
    background: -webkit-linear-gradient(135deg, $color1 0%, $color2 100%), url($imageUrl) center;
    background-size: cover;   
}

.page-header {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    &.background {
        max-height: 500px;
        $animation_duration: 1s;
        .page-header-logo {
            -webkit-animation: fadeInUp $animation_duration; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadeInUp $animation_duration; /* Firefox < 16 */
            -ms-animation: fadeInUp $animation_duration; /* Internet Explorer */
            -o-animation: fadeInUp $animation_duration; /* Opera < 12.1 */
            animation: fadeInUp $animation_duration;     
            margin-top: -110px;
        }
        .page-header-text {
            -webkit-animation: fadeInUp $animation_duration; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadeInUp $animation_duration; /* Firefox < 16 */
            -ms-animation: fadeInUp $animation_duration; /* Internet Explorer */
            -o-animation: fadeInUp $animation_duration; /* Opera < 12.1 */
            animation: fadeInUp $animation_duration;     
            font-size: 2.8em;
            text-align: center;
            margin-top: -75px;
        }
        &-1 {
            background-image: url("../images/xx_bg1.jpg");
        }
        &-2 {
            background-image: url("../images/xx_bg4.jpg");
        }
        &-3 {
            background-image: url("../images/xx-bg5.png");
        }
        &-4 {
            background-image: url("../images/xx_bg2.jpg");
        }
    }

    &.background-filter {
        max-height: 100vh;
        .page-header-logo {
            margin-top: -130px;
        }
        .page-header-text {
            font-size: 2.8em;
            text-align: center;
            margin-top: -80px;
        }
        &-1 {
            @include background-filter(rgba(100, 155, 121, 0.829), rgba(184, 112, 31, 0.575), '../images/team-battle-3.jpg');   
        }  
        &-2 {
            @include background-filter(rgba(97, 173, 142, 0.829), rgba(114, 157, 207, 0.575), '../images/new-team.jpg');
        }
        &-3 {
            @include background-filter(rgba(201, 209, 88, 0.829), rgba(216, 162, 91, 0.575), '../images/team-leader.jpg');     
        }
        &-4 {
            @include background-filter(rgba(204, 74, 102, 0.829), rgba(212, 72, 72, 0.575), '../images/footwork.jpg');          
        }
        &-5 {
            @include background-filter(rgba(100, 212, 169, 0.829), rgba(99, 165, 209, 0.575), '../images/team-battle-4.jpg');              
        }
        &-6 {
            @include background-filter(rgba(147, 218, 119, 0.829), rgba(129, 194, 99, 0.575), '../images/team.jpg');                   
        }
        &-7 {
            @include background-filter(rgba(119, 218, 210, 0.829), rgba(160, 84, 196, 0.575), '../images/team-battle-2.jpg');                    
        }
    }
}