body {
    .page-template-ucs-tracking {
        .sec-ucs-search {
          .search-panel {
              position: relative;
              margin: 1rem 0;
              padding: 1em 1em;
              border-radius: .28571429rem;
              width: 100%;
              display: inline-block;

              background: rgb(18,18,18);
              background: -moz-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
              background: -webkit-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
              background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#303030",GradientType=1);

              box-shadow: 0px 0px 0px 2px #FFD500;

              #search-form {
                  label {
                    //   font-family: 'XoloniumBold'; 
                      font-weight: normal; 
                    //   font-style: italic; 
                      color: #eff7ef;
                      &.active {
                        color: yellow;
                        transition: .15s ease-in-out;
                      } 
                      &.label-invalid {
                        color: #dc3545;
                      }
                  }
                  div[class*="col-"] {
                      margin-bottom: 10px;
                      &:last-child {
                          margin-bottom: 15px;
                      }
                  }
                  .item-per-page {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    select {
                        max-width: 20%;
                        margin: 0 5px;
                    }
                  }
              }
          }
        }
        .sec-request-list {
            $animation_duration: 0.5s;
            padding: 10px;
            display: none;
            -webkit-animation: fadeIn $animation_duration; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadeIn $animation_duration; /* Firefox < 16 */
            -ms-animation: fadeIn $animation_duration; /* Internet Explorer */
            -o-animation: fadeIn $animation_duration; /* Opera < 12.1 */
            animation: fadeIn $animation_duration;     
            .request-list-wrapper {
                .request-item {
                    // background: rgb(2,0,36);
                    // background: linear-gradient(#121212 0%, #303030 100%);

                    background: rgb(18,18,18);
                    background: -moz-linear-gradient(101deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
                    background: -webkit-linear-gradient(101deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
                    background: linear-gradient(101deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#303030",GradientType=1);
                            
                    box-shadow: 0px 0px 0px 2px #EEEEEE;
                    border-radius: .28571429rem;
                    padding: 10px;    
                    display: flex;
                    margin-bottom: 20px;
                    .thumbnail-wrapper {
                        padding: 0;
                        .thumbnail {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;  
                            max-width: 100%!important;
                            width: auto!important;
                            max-height: 250px!important;                
                        }    
                    }
                    .details {
                        color: white;
                        .title {
                            font-size: 20px;
                            color: yellow;
                            font-family: 'XoloniumRegular'
                        }
                        .field {
                            padding: 10px 0;
                            &:last-child {
                                padding-bottom: 0;
                            }
                            &.step-difficulty {
                                display: flex;
                                align-items: center;
                                .stepball-mobile {
                                    margin-left: 5px;
                                    img {
                                        max-height: 80px;
                                    }
                                }
                            }
                            .status-badge {
                                font-size: inherit;
                                margin-left: 5px;
                                padding: 10px;
                            }
                            .field-value {
                                font-weight: bolder
                            }
                        }  
                    }
                    .stepball-xl {
                        position: absolute;
                        right: 26px;
                        top: 14px;
                        img {
                            max-height: 130px;
                        }
                    }
                    .btn-resend {
                      position: absolute;
                      right: 10px;
                      bottom: 10px;
                    }
                    .menu-options {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                }
            }
            .bss-pagination {
                flex-wrap: wrap;
                .page-item {
                    cursor: pointer;
                    .page-link {
                        background-color: transparent;
                        border: none;
                        color: white;
                    }
                    &:hover {
                        .page-link {
                            color: yellow;
                            transition: all 0.5s ease;
                        }
                    }
                    &.active {
                        .page-link {
                            border-radius: 50%;
                            background-color: yellow;
                            color: black;
                        }
                    }
                    &.disabled {
                        .page-link {
                            color: gray;
                        }
                    }
                }
                
            }
        }
        .sec-search-result {
            #result-alert {
                $animation_duration: 0.5s;
                -webkit-animation: fadeIn $animation_duration; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadeIn $animation_duration; /* Firefox < 16 */
                -ms-animation: fadeIn $animation_duration; /* Internet Explorer */
                -o-animation: fadeIn $animation_duration; /* Opera < 12.1 */
                animation: fadeIn $animation_duration;         
                margin: 10px;
                i {
                    margin-right: 5px;
                }
            }
        }
        .sec-not-found, .sec-error, .sec-request-timeout {
            padding: 20px;
            color: white;
            .row {
                justify-content: center;
            }
            .icon {
                font-size: 12em;
            }
            .message {
                margin-top: 20px;
            }
            span.click-here {
                color: #007bff;
                cursor: pointer;
                &:hover {
                    color: yellow;
                }
                transition: all 0.2s ease;
            }
        }
    }
    .section-divider {
        border-color: yellow;
        border-width: 5px;
    }
    .form-section {
        margin: 25px 0;
    }
    form {
      .form-control {
        &.is-invalid {
          border-color: #dc3545;
          &:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(206, 52, 25, 0.829)
          }
        }
        &:focus {
          border-color: yellow;
          box-shadow: 0 0 0 0.2rem rgba(252, 252, 71, 0.829)
        }
      }        
      #requester-note {
        max-height: 600px;
      }
    }
    #update-modal {
        .modal-header {
          button.close {
            span {
              color: yellow;
            }
          }
        }
        .remind-note {
          color: #dc3545;
        }
        label {
            // font-family: 'XoloniumBold'; 
            font-weight: normal; 
            // font-style: italic; 
            color: #eff7ef;
            &.active {
              color: yellow;
              transition: .15s ease-in-out;
            } 
            &.label-invalid {
              color: #dc3545;
            }
        }
        .modal-content {
            background: rgb(18,18,18);
            background: -moz-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
            background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#303030",GradientType=1);
            box-shadow: 0px 0px 0px 2px #EEEEEE;
            .modal-header {
                h5 {
                    color: yellow;
                }
            }
            .modal-body {
                color: white;
            }
        }
        .btn-submit {
            i { margin-right: 5px; }
        }
    }
    
}