<footer class='footer'>
  <div class="container">
    <div class='footer__content'>
      <div class="container-fluid footer__brand-container">
        <div class="row">
          <div class="footer__brand col-lg-3 col-sm-12">
            <img src="/images/BOSS_PIUVN.png" />
          </div>
          <div class="footer__brand col-lg-3 col-sm-12">
            <img src="/images/intro_andamiro-dark.png" />
          </div>
          <div class="footer__brand col-lg-3 col-sm-12">
            <img src="/images/VNPIU.png" />
          </div>
          <div class="footer__brand col-lg-3 col-sm-12">
            <img src="/images/lang-xi-trum.png" />
          </div>
        </div>
      </div>
      <div class='footer__social-network'>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/bosspiuvnpumpitupteamofficial/">
          <i class="fab fa-facebook fa-3x text-center"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/BOSS_PIUVN/">
          <i class="fab fa-twitter fa-3x text-center"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/c/BossPIUVNPumpItUpTeam">
          <i class="fab fa-youtube fa-3x text-center"></i>
        </a>
      </div>
      <div class='text-center'>
        <p>Copyright ⓒ Andamiro Co., LTD. All rights reserved.</p>
        <p>This is hobby project (Non-commercial Use Only)</p>
        <p>Powered by BOSS_PIUVN Pump It Up Team</p>
      </div>
    </div>
  </div>
</footer>