<nav class="navbar fixed-top navbar-expand-xl bss-navbar">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img class="bss-navbar-logo" src="/images/boss-nav-logo.png" />
    </div>
    {{!-- <button id="sidebarCollapse" class="navbar-toggler" type="button">
      <i class="fas fa-bars"></i>
    </button> --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {{#if active.home}}active{{/if}}" href="/">
            <i class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {{#if active.ucsTracking}}active{{/if}}" href="/ucs-tracking">
            <i class="fas fa-compass"></i>UCS Tracking System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active.register}}active{{/if}}" href="/register">
            <i class="fas fa-plus-circle"></i>Register UCS Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active.songList}}active{{/if}}" href="/song-list">
            <i class="fas fa-music"></i>Song List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active.faqRules}}active{{/if}}" href="/faq-rules">
            <i class="fas fa-question-circle"></i>Faq & Rules</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id='navbar-overlay' class="navbar-overlay"></div>
