<ul class="list-unstyled components">
  <li>
    <a href="/">
      <i class="fas fa-home"></i> Home
    </a>
  </li>
  <li>
    <a href="/ucs-tracking">
      <i class="fas fa-compass"></i> UCS Tracking System
    </a>
  </li>
  <li>
    <a href="/register">
      <i class="fas fa-plus-circle"></i> Register UCS Request
    </a>
  </li>
  <li>
    <a href="/ucs-song">
      <i class="fas fa-music"></i> Song List</a>
  </li>
  <li>
    <a href="/faq-rules">
      <i class="fas fa-question-circle"></i> Faq & Rules
    </a>
  </li>
</ul>