.main {
    .b-section {
        div[class*="col-"] {
            margin-bottom: 50px;
        }
    }

    #team-members {
        margin-bottom: -50px;
        .row { margin-top: 15px !important; }
    }

    #our-duty {
        .row { margin-top: 10px; }
        img {
            margin-bottom: 10px;
        }
    }
}

#video-carousel {
    padding-bottom: 20px;
    .item-video {
        height: 500px;
    }
}
