$require-invalid-color: #dc3545;

.b-form {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    -webkit-box-shadow: -1px 4px 20px -4px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 20px -4px rgba(0,0,0,1);
    box-shadow: -1px 4px 20px -4px rgba(0,0,0,1);

	.form-check-input {
		margin-top: 6px;
	}

	h4 {
		margin-top: 20px;
	}

	hr {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.b-text-area {
		width: 100%;
		height: 300px;
	}

	.ck-editor__editable {
		min-height: 300px !important;
	}

	.select2 {
		&-invalid {
				border-color: $require-invalid-color !important;
		}		
	}

	.label-invalid {
		color: $require-invalid-color;
	}

	.required {
		color: $require-invalid-color;
	}

	select {
		cursor: pointer;
	}
}

.artist {
	white-space: normal;
}

.song-name {
	white-space: normal;
}