.footer {
  padding: 0.9375rem 0;
  text-align: center;
  display: flex;
  background: url(../../images/footerBg1.jpg) center top no-repeat;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  color: white; }
  .footer p {
    font-size: 12.8px;
    margin: 0 0 10px; }
  .footer__brand {
    align-content: center;
    align-self: center; }
    .footer__brand-container {
      margin-top: 30px; }
    .footer__brand img {
      max-width: 230px;
      margin-bottom: 30px; }
  .footer__content {
    margin-top: 30px; }
  .footer__social-network {
    margin-bottom: 20px; }
    .footer__social-network a {
      color: white;
      margin-right: 50px; }
      .footer__social-network a:hover {
        color: red;
        transition: all 0.2s ease; }
      .footer__social-network a:last-child {
        margin-right: -8px; }
      .footer__social-network a:focus {
        transition: all 0.2s ease; }
