.navbar {
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  .navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    padding-top: 25px;
    color: white; }
    .navbar.navbar-transparent i.fa-bars {
      color: white; }
    .navbar.navbar-transparent button.navbar-toggler {
      border: none;
      background-color: white !important; }
  .navbar i.fa-bars {
    color: white;
    font-size: 1.5em; }

@media screen and (max-width: 1200px) {
  .navbar-collapse {
    height: 100% !important;
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 230px;
    left: 0;
    margin-left: 0 !important;
    z-index: 3001;
    visibility: visible;
    background-color: #dddada;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }
    .navbar-collapse .navbar-nav {
      position: relative;
      z-index: 3; }
      .navbar-collapse .navbar-nav .nav-item {
        padding: 20px 10px 20px 10px; } }

@media screen and (min-width: 1200px) {
  .navbar-collapse .nav-link {
    color: white !important; }
    .navbar-transparent .navbar-collapse .nav-link {
      color: white !important; } }

.navbar-collapse .nav-link i {
  margin-right: 5px; }

.navbar-collapse .show {
  display: block;
  transform: translateX(0); }

.nav-link {
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1.25px; }
  @media screen and (max-width: 991px) {
    .nav-link {
      letter-spacing: 0.5px; } }

@media all and (min-width: 1024px) {
  .nav-link {
    margin-left: 12px;
    margin-right: 12px; }
  .nav-link:hover {
    color: yellow !important;
    transition: all 0.2s ease;
    transform: scale(1.2); } }

.collapse.navbar-collapse:not(.show) {
  display: block;
  transform: translateX(-100%); }
  @media screen and (min-width: 1200px) {
    .collapse.navbar-collapse:not(.show) {
      transform: translateX(0); } }
  @media screen and (max-width: 991px) {
    .collapse.navbar-collapse:not(.show) {
      transform: translateX(-100%); } }
