<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{[{ modalInstance.title }]}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="_csrf" name="_csrf" value="{{ csrfToken }}">
        <section ng-if="modalInstance.mode !== 'resend'" class="request-token-form-wrapper">
          <h5>
            <i class="fas fa-key"></i> Request Token</h5>
          <form id="request-token-form">
            <div class="form-group row">
              <label for="email" class="col-lg-12 col-form-label">Email
                  <span class="required">*</span>
              </label>
              <div class="col-lg-12">
                <input ng-model="requestTokenForm.email" type="text" class="form-control" name="email" placeholder="Enter your email">
              </div>
            </div>
            <button type="button" id="reset-form" class="btn btn-danger" mode="update" ng-click="onRequestTokenFormReset($event)">Reset</button>
            <button type="button" id="token-submit" mode="{[{ modalInstance.mode }]}" class="btn btn-submit btn-info">Request {[{ modalInstance.mode }]} token
            </button>
          </form>
        </section>
        <hr ng-if="modalInstance.mode === 'delete' || modalInstance.mode === 'update'" class="section-divider" />
          {{> tracking-form-update}}
          {{> tracking-form-delete}}
          {{> tracking-form-resend}}
      </div>
      <div class="modal-footer">
        <button type="button" id="submit" class="btn btn-submit {[{ modalInstance.submitButton.buttonClass }]}">
          <i class="fas {[{ modalInstance.submitButton.iconClass }]}"></i>{[{ modalInstance.submitButton.title }]}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>