<div class="modal fade" id="preview-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="previewModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="preview-thumbnail-wrapper" class="col-lg-auto">
          <img id="preview-thumbnail" class="img-fluid preview-thumbnail" data-src="{[{ preview.thumbnailUrl }]}" />
        </div>
        <div class="preview-content">
          <div class="preview-field">
            <span class="preview-field-name">Song: </span>
            <div class="preview-value">
              <span>{[{ preview.songName }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Artist: </span>
            <div class="preview-value">
              <span>{[{ preview.artist }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Requester: </span>
            <div class="preview-value">
              <span>{[{ preview.requester }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Stepmaker: </span>
            <div class="preview-value">
              <span>{[{ preview.stepmaker }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Content name: </span>
            <div class="preview-value">
              <span>{[{ preview.contentName ? preview.contentName : 'N/a' }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Stepchart Difficulty: </span>
            <img class="stepball" ng-src="/images/stepball_levels/{[{ preview.stepchartType }]}/{[{ preview.stepchartLevel }]}.png" />
          </div>
          <div class="preview-field">
            <span class="preview-field-name">UCS Link: </span>
            <div class="preview-value">
              <span>{[{ preview.ucsLink }]}</span>
            </div>
          </div>
          <div class="preview-field">
            <span class="preview-field-name">Verification Email: </span>
            <div class="preview-value">
              <span class="preview-value"> {[{ preview.email }]}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="confirm-submit" type="button" class="btn submit-button">Yes, submit this</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>