<section id='main'>
  <div class="main">
    <h1 class='b-header b-header--red b-header--section'>FAQ AND RULES</h1>

    <div class="todo" style="padding-bottom: 20px">
      <h2 style="color: green">DO</h2>
      <span>Things need to do before send: </span>
      <ul>
        <li>Fill your UCS Request Info correctly</li>
        <li>Please check the sync of your chart &amp; UCS source carefully</li>
        <li>Write a note if you would like to remind us</li>
      </ul>

      <span>Things need to do after send: </span>
      <ul>
        <li>
          <strong>Be patient</strong>
        </li>
        <li>Check if your UCS is sent at UCS Tracking Page (email). You can check the status of your UCS here</li>
        <li>Always check your email / UCS Tracking System</li>
        <li>Check out content from our Youtube Channel</li>
      </ul>

      <h2 style="color: red">DON'T</h2>
      <ul>
        <li>Force us to do quickly</li>
        <li>Resend the same request</li>
        <li>Send invalid request</li>
        <li>Act stupid</li>
      </ul>
      <h2 style="color: coral">NOTE</h2>
      <ul>
        <li>
          There is
          <strong style="color: blue">no limitation</strong> on how many request you send, we will play them.
        </li>
        <li>All members of our team have their own daily life, so you need to be
          <strong style="font-style: italic">patient</strong>
        </li>
        <li>Charts that we consider to be
          <strong style="color: red">nonsense</strong> will be
          <strong style="color: red">declined</strong>. Depending on the severity of the action , stepmaker can also be
          <strong style="color: red">banned</strong> if intentionally violating rules</li>
        <li>If you request your chart, but it has already been played in our channel. Your request will be <strong style="color: red">declined</strong></li>
        <li>CO-OP
          <strong>more than or equal 3 players</strong> may take more time to complete because of lack of players</li>
        <li>Sometimes we will have special UCS Play which we pick <strong style="color: red">randomly</strong> from any individuals / groups or
          <strong>CUSTOM SONG UCS (What If Series)</strong> which is made by one of my team members or from any individuals
        </li>
        <li>We <strong style="color: red">won't</strong> take any <strong>CUSTOM SONG UCS (What If Series)</strong> Requests in here</li>
        <li>These <strong>ESPs (Email Service Provider)</strong> we would recommend to register:
          <ul>
            <li>Gmail</li>
            <li>Yandex Mail</li>
            <li>Naver Mail</li>
            <li>Hotmail / Outlook Mail</li>
          </ul>
        </li>
        <li>Please <strong style="color: red">do not</strong> register with Yahoo Mail</li>
        <li>When you finish registering your request, please check your email for activation process <strong>(it might take a couple of minutes)</strong></li>
        <li>If you can't find activation email in your inbox, please check <strong style="color: red">Spam</strong> category. If you can't receive activation email, please contact us</li>
        <li>Please activate your request after receiving activation email. Your request will be <strong style="color: red">automatically deleted</strong> in next <strong>72 hours (3 days)</strong> if you don't activate.
        <li>If you receive error request email, please update your request as soon as possible or your request will be <strong style="color: red">terminated</strong> in next <strong>168 hours (7 days)</strong></li>
        <li>
          <strong style="color: red">Dummy</strong> or
          <strong style="color: red">duplicate</strong> request(s) will be deleted without warning</li>
      </ul>
      <h2>Will update more...</h2>
    </div>
  </div>
</section>

{{#section 'header_components'}}
<link rel="stylesheet" href="css/faq-rules.css"> {{/section}} {{#section 'footer_components'}} {{/section}}