<section class="page-template-faq-rules">
  <section class="sec-page-header">
    <div class="page-header background background-5">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <img class="img-fluid page-header-logo" src="/images/boss_piuvn-shadow.png" />
            <h1 class="header-1 gold page-header-text">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-remind">
    <h1 class='header-1 red text-center'>THINGS TO KEEP IN MIND</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="remind-item do">
            <div class="header text-center">
              <img class="img-fluid logo" src="/images/checkmark-icon.png"></img>
              <h2>Things you should do</h2>
            </div>
            <div class="content">
              <ul class="text-list">
                <li>Fill your UCS Request Info correctly</li>
                <li>Check UCS download source and sync of your chart carefully</li>
                <li><strong class="important">Be patient</strong></li>
                <li>Always check your mail inbox for activation email after finish registering request</li>
                <li>If you encounter your chart has problem (Out of sync, Unplayable, Invalid, etc.), please find your
                  request and update it at UCS Tracking Page</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="remind-item do-not">
            <div class="header text-center">
              <img class="img-fluid logo" src="/images/times-icon.png"></img>
              <h2>Things you shouldn't do</h2>
              <strong class="important" style="font-style: italic">These actions result in your request being
                rejected</strong>
            </div>
            <div class="content">
              <ul class="text-list">
                <li>Don't force us to do quickly</li>
                <li>Don't send <strong class="important">invalid / duplicate</strong> request</li>
                <li>Don't act stupid (sending troll chart, insult, etc.)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-note">
    <ul>
      <li>All members of our team have their own daily life, so you need to be patient</li>
      <li>Sometimes we will have special UCS Play which we pick randomly from any individuals / groups or CUSTOM SONG
        UCS (What If Series) which is made by one of my team members or from any individuals</li>
      <li>We won't take any CUSTOM SONG UCS (What If Series) Requests in here</li>
      <li>Dummy or duplicate request(s) will be deleted without warning</li>
    </ul>
  </section>
  <section class="sec-faq">
    <h1 class='header-1 gold text-center'>FAQ & RULES</h1>
    <div class="accordion" id="faq-accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              1. Is there any limitation on how many request I send ?
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq-accordion">
          <div class="card-body">
            <p>There is no limitation on how many request you send, we will play them</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              2. Which factors could cause my request to be rejected ?
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-accordion">
          <div class="card-body">
            <ul>
              <li>Sending duplicate request</li>
              <li>Troll / Nonsense charts</li>
              <li>Chart which none of our members can play</li>
              <li>You request your chart, but your chart has already played in our YT Channel</li>
              <li>You receive that your chart has error, but you (intentionally) send duplicate request</li>
              <li>Send remastered (copy) chart</li>
            </ul>
            <p> 
              Depending on the severity of the action , stepmaker can also be banned if intentionally violating rules
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              3. Why do we rarely play UCS CO-OP Request ?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-accordion">
          <div class="card-body">
            <p>
              CO-OP more than or equal 3 players may take more time to complete because of lack of players.
            </p>
            <p>
              Since StepEditLite is not supported color codes for co-op charts, playing regular co-op is a pain of our
              neck, but not routine co-op.
            </p>
            <p>
              Some reasons that we couldn't figure out your pattern, which is really hard for us to play.
            </p>
            <button data-fancybox href="https://www.youtube.com/embed/viQQdJ2guT8" class="btn btn-success menu-options">
              Click here to see why
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              4. What should I do after finishing registration ?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faq-accordion">
          <div class="card-body">
            <p>
              When you finish registering your request, please check your email for activation process (it might take a
              couple of minutes)<br>
            </p>
            <p>
              Please activate your request after receiving activation email. Your request will be automatically deleted
              in next <strong>72 hours (3 days)</strong> if you don't activate
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              5. Why can't I receive my activation email ?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faq-accordion">
          <div class="card-body">
            We would like to recommend that you should try register with these Email Service Providers (ESPs):
            <ul>
              <li>Gmail</li>
              <li>Yahoo Mail</li>
              <li>Yandex Mail</li>
              <li>Naver Mail</li>
              <li>Hotmail / Outlook Mail (recommend to use Outlook email address)</li>
            </ul>

            <p>
              Wait about 4 - 10 minutes.<br>
              If you can't find activation email in your inbox, please check Spam category<br>
              If you can't receive any activation mail more than 10 minutes, please request resend your activation mail
              in UCS Tracking System
            </p>
            <p>If you can't receive activation mail by request resend method, please try another email.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              6. What should I do if I receive email that my request has error ?
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faq-accordion">
          <div class="card-body">
            <p>If you receive error request email, please update your request as soon as possible or your request will
              be terminated in next 168 hours (7 days)</p>
            <p>And you shouldn't bypass your error request by sending duplicate request (this action results in cause
              your request will be rejected)</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{#section 'header_components'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css">
{{/section}}
{{#section 'footer_components'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
<script src="js/faq-rules.js"></script>
{{/section}}