<section id='main'>
  <div class="main">
    <div id='about-us' class="b-section container-fluid">
      <h1 class='b-header b-header--yellow b-header--section'>ABOUT US</h1>
      <div class="text-center">
        <img class="text-center rounded-circle img-fluid team-avatar" src="/images/boss-piuvn-avatar.png" />
      </div>
      <p>
        <strong>BOSS_PIUVN Pump It Up Team</strong> is the Vietnam Pump It Up Elite Team with
        <strong>7</strong> members who have a passion for Pump It Up game and keep World PIU Community rising. Our team was established
        on <strong>March, 2017</strong> and now we are currently active at Smurf's Town Gamezone (Làng Xì Trum) - Nowzone Fashion Mall which
        is located in <strong>Ho Chi Minh City, Vietnam</strong>. Each member of BOSS_PIUVN have different specialties and we also respect
        their strengths to build more interesting content.</p>
    </div>
    <div id='team-members' class="b-section container-fluid">
      <h1 class='b-header b-header--blue b-header--section'>TEAM MEMBERS</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/zhaox.jpg" />
            <h4>
              <strong>ZHAOYUN / Zhao X</strong>
            </h4>
            <p>Founder - Team Captain - Content distributor - Facebook Administrator</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/drbox.jpg" />
            <h4>
              <strong>DRBOX</strong>
            </h4>
            <p>Youngest Professional Vietnam Pump It Up Player - Assistant - Twitter Administrator</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/concec.jpg" />
            <h4>
              <strong>CONCEC / CHUVO</strong>
            </h4>
            <p>Hybrid PIU Player</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/numbuh_1.jpg" />
            <h4>
              <strong>NUMBUH_1</strong>
            </h4>
            <p>Best Effect / Slow Reading PIU - Content distributor - Quest Hunter</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/asriel.jpg" />
            <h4>
              <strong>ASR13L</strong>
            </h4>
            <p>Enthusiastic PIU Player</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/baddles.jpg" />
            <h4>
              <strong>BADDLESN</strong>
            </h4>
            <p>Barefoot PIU Player - Quest Hunter</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/newbees.jpg" />
            <h4>
              <strong>NEWBEES</strong>
            </h4>
            <p>Analysis Specialist</p>
          </div>
        </div>
        {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/teemobui.jpg" />
            <h4>
              <strong>TMB</strong>
            </h4>
            <p>Trainee</p>
          </div>
        </div> --}}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class='img-raised rounded-circle img-fluid team-member-avatar' src='/images/team_members/question-mark.jpg' />
            <h4>
              <strong>MORE</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div id='our-duty' class='b-section container-fluid'>
      <h1 class='b-header b-header--red b-header--section'>OUR DUTY</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/world_updatedTunes.png' />
            <h4>Update New Contents</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/funzone_quest.png' />
            <h4>Play Quest Zone</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/funzone_ucs.png' />
            <h4>Play User Custom Step</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/extra_co-op.png' />
            <h4>CO-OP Play</h4>
          </div>
        </div>
      </div>
    </div>
    <div id='our-highlights' class='container-fluid'>
      <h1 class='b-header b-header--cyan b-header--section'>HIGHLIGHTS</h1>
      <div id='video-carousel' class="owl-carousel owl-theme">
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://www.youtube.com/watch?v=wtrWUUofYb4"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://www.youtube.com/watch?v=h8J56WwtaHE"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://youtu.be/KnsD3m7rUU4"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://youtu.be/VAp-M2BblU0"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://youtu.be/wbJE9tmBU0Q"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://youtu.be/euO29zvcqRk"></a>
        </div>
        <div class="item-video" data-merge="3">
          <a class="owl-video" href="https://youtu.be/MAhsDdTJq3w"></a>
        </div>
      </div>

    </div>
  </div>
</section>

{{#section 'header_components'}}
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css"> {{/section}} {{#section 'footer_components'}}
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      items: 1,
      merge: true,
      loop: true,
      margin: 10,
      nav: false,
      video: true,
      center: true,
      responsive: {
        480: {
          items: 2
        },
        600: {
          items: 4
        }
      }
    });
  });
</script> {{/section}}