<section class="page-template-home">
  <section class="sec-page-header">
    <div class="page-header background background-4">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <img class="img-fluid page-header-logo" src="/images/boss_piuvn-shadow.png" />
            <h1 class="header-1 gold page-header-text">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-about-us bss-section">
    <div class="text-center">
      <h2 class="header-1 gold">ABOUT US</h2>
      <img class="rounded-circle img-fluid team-logo" src="/images/boss-piuvn-avatar.png" />
    </div>
    <p>
      <strong>BOSS_PIUVN Pump It Up Team</strong> is the
      <strong>Vietnam</strong> Pump It Up Elite Team with
      <strong>7</strong> members who have a passion for Pump It Up game and keep World PIU Community rising. Our team
      was established
      on
      <strong>March, 2017</strong> and now we are currently active at
      <strong>Smurf's Town Gamezone (Làng Xì Trum) - Nowzone Fashion Mall</strong> which is located in
      <strong>Ho Chi Minh City, Vietnam</strong>. Each member of BOSS_PIUVN have different specialties and we also
      respect their
      strengths to build more interesting content.</p>
    </p>
  </section>
  <section class="sec-team-members bss-section">
    <div class="text-center">
      <h2 class="header-1 gold">TEAM MEMBERS</h2>
    </div>
    <div class="container-fluid team-member-wrapper">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/zhaox.jpg" />
              <h5>ZHAOYUN / Zhao X</h5>
            </div>
            <p>Founder, Team Captain, Administrator & Content Creator</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/drbox.jpg" />
              <h5>DRBOX</h5>
            </div>
            <p>Youngest Professional PIU Players, Administrator </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/numbuh_1.jpg" />
              <h5>NUMBUH_1</h5>
            </div>
            <p>Slow Reader / Gimmick Player, Mission Hunter & Content Creator</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/concec.jpg" />
              <h5>CONCEC</h5>
            </div>
            <p>Hybrid PIU Player</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/asriel.jpg" />
              <h5>ASR13L</h5>
            </div>
            <p>Enthusiastic PIU Player</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/baddles.jpg" />
              <h5>BADDLESN</h5>
            </div>
            <p>Barefoot PIU Player</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="team-member-item">
            <div class="text-center">
              <img class="rounded-circle img-fluid team-member-avatar" src="/images/team_members/newbees.jpg" />
              <h5>NEWBEES</h5>
            </div>
            <p>Analysis Specialist</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-our-duty bss-section">
    <div class="text-center">
      <h2 class="header-1 cyan-blue">OUR DUTY</h2>
    </div>
    <div class="duty-wrapper">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/world_updatedTunes.png' />
            <h4>Update New Contents</h4>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/funzone_quest.png' />
            <h4>Play Quests / Missions</h4>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/funzone_ucs.png' />
            <h4>Play User Custom Step</h4>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class='text-center'>
            <img class='img-fluid' src='/images/extra_co-op.png' />
            <h4>CO-OP Play</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-highlights bss-section">
    <div class="text-center">
      <h2 class="header-1 gold">HIGHLIGHTS</h2>
    </div>
    <div id='highlight-video-carousel' class="owl-carousel owl-theme">
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://www.youtube.com/watch?v=wtrWUUofYb4"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://www.youtube.com/watch?v=h8J56WwtaHE"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://youtu.be/KnsD3m7rUU4"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://youtu.be/VAp-M2BblU0"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://youtu.be/wbJE9tmBU0Q"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://youtu.be/euO29zvcqRk"></a>
      </div>
      <div class="item-video" data-merge="3">
        <a class="owl-video" href="https://youtu.be/MAhsDdTJq3w"></a>
      </div>
    </div>
  </section>
</section>
{{#section 'header_components'}}
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css">
{{/section}}
{{#section 'footer_components'}}
<script src="/lib/lodash.js"></script>
<script src="/lib/jquery.lazy.min.js"></script>
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      items: 1,
      merge: true,
      loop: true,
      margin: 10,
      nav: false,
      video: true,
      center: true,
      responsive: {
        480: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 4
        },
        1300: {
          items: 6
        }
      }
    });
  });
</script> {{/section}}