<section class="page-template-maintenance">
  <section class="sec-page-content">
    <div class="maintenance text-center">
      <div class="logo">
          <img class="img-fluid" src="/images/tools-solid.png">
      </div>
      <div class="prompt">
        <h2>Sorry for the inconvenience, we're down for scheduled maintenance</h2>
        <h2>We'll be back soon!!</h2>
      </div>
    </div>
  </section>
</section>
