<section class="page-template-not-found">
  <section class="sec-page-header">
    <div class="page-header background background-6">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <img class="img-fluid page-header-logo" src="/images/boss_piuvn-shadow.png" />
            <h1 class="header-1 gold page-header-text">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-page-content">
    <div class="not-found text-center">
      <h1 class="status">404</h1>
      <div class="prompt">
        <h2>Whoops!! Page not found</h2>
        <p>Click <a href="/home">here</a> to return homepage</p>
      </div>
    </div>
  </section>
</section>
{{!-- {{#section 'header_components'}}
<link rel="stylesheet" href="css/song.css">
<link rel="stylesheet" href="lib/sweet-alert-2/sweetalert2.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css"> {{/section}} {{#section 'footer_components'}}
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
{{/section}} --}}