<section id='main'>
    <div class="main">
        <h1>Whoops! Page Not Found</h1>
    </div>
</section>

{{!-- {{#section 'header_components'}}
<link rel="stylesheet" href="css/song.css">
<link rel="stylesheet" href="lib/sweet-alert-2/sweetalert2.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css"> {{/section}} {{#section 'footer_components'}}
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
{{/section}} --}}