<section class="page-template-song" ng-app="songApp" ng-controller="songCtrl">
  <section class="sec-page-header">
    <div class="page-header background background-1">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <img class="img-fluid page-header-logo" src="/images/boss_piuvn-shadow.png" />
              <h1 class="header-1 gold page-header-text">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-series-carousel-wrapper">
    <div class="song-carousel owl-carousel owl-theme">
      <div class="series-item" ng-repeat="seriesItem in series"> 
        <img class="series-img" ng-src="/images/series/{[{ seriesItem.categoryId }]}.png"> 
      </div>
    </div>
  </section>
</section>
{{#section 'header_components'}}
  <link rel="stylesheet" href="lib/sweet-alert-2/sweetalert2.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css"> 
{{/section}} 
{{#section 'footer_components'}}
  <script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/axios.min.js"></script>
  <script src="/lib/lodash.js"></script>
  <script src="/js/const.js"></script>
  <script src="/js/test/song.js"></script> 
{{/section}}