<section class="page-template-song" ng-app="songApp" ng-controller="songCtrl">
  <section class="sec-page-header">
    <div class="page-header background background-1">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <img class="img-fluid page-header-logo" src="/images/boss_piuvn-shadow.png" />
            <h1 class="header-1 gold page-header-text">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-series-carousel-wrapper">
    <h1 class='header-1 gold text-center'>AVAILABLE UCS SONG</h1>
    <div class="song-carousel owl-carousel owl-theme">
      <div class="series-item col-12" ng-repeat="seriesItem in series">
        <img class="img-fluid series-img" series="{[{ seriesItem.categoryId }]}"
          ng-src="/images/series/{[{ seriesItem.categoryId }]}.png">
      </div>
    </div>
    <h5 ng-cloak ng-if="isCarouselInit" id="tips" class="text-center">Swipe series item or click button below to change series</h5>
    <div ng-cloak ng-if="isCarouselInit" class="navigation-carousel">
      <button class="btn btn-primary" ng-click="moveCarousel('prev')">Prev</button>
      <button class="btn btn-primary" ng-click="moveCarousel('next')">Next</button>
    </div>
  </section>
  <section ng-cloak ng-if="isCarouselInit" class="sec-song-list-wrapper">
    <div class="container-fluid song-container">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 song-item" ng-repeat="songItem in songList">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top song-thumbnail" ng-src="{[{ songItem.thumbnailUrl }]}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-text">{[{ songItem.songName }]}</h5>
              <p>{[{ songItem.artist }]}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{#section 'header_components'}}
<link rel="stylesheet" href="lib/sweet-alert-2/sweetalert2.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="lib/owl-carousel/dist/assets/owl.theme.default.min.css">
{{/section}}
{{#section 'footer_components'}}
<script src="lib/owl-carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/lib/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
<script src="/lib/lodash.js"></script>
<script src="/js/song.min.js"></script>
{{/section}}