<section ng-app="trackingUcsApp" ng-controller="trackingUcsCtrl" id='main'>
	<div class="main">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<div id="search-panel" class="search">
			<div ng-if="isStepchartTypeLoaded" id="form-loader" class="overlay_container">
				<i class="spin-big overlay_loader fas fa-circle-notch fa-spin"></i>
			</div>
			<div id="search-form" class="b-form col-lg-12">
				<div class="form-group row">
					<div class="col-lg-6">
						<label for="search" class="col-form-label">
							<i class="fas fa-search"></i> Search</label>
						<input ng-model="searchForm.search" type="text" class="form-control" name="search" placeholder="Type keyword">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-6 col-sm-12">
						<label for="search" class="col-form-label">Stepchart Type</label>
						<select ng-model="searchForm.stepchart_type" class="form-control" name="stepchartType">
							<option value="">Choose Stepchart Type</option>
							<option ng-repeat="stepchartType in stepchartTypes" value="{[{ stepchartType.value }]}">{[{ stepchartType.title }]}</option>
						</select>
					</div>
					<div class="col-lg-6 col-sm-12">
						<label for="stepchartLevel" class="col-form-label">Stepchart Level
						</label>
						<select ng-model="searchForm.stepchart_level" class="form-control" name="stepchartLevel">
							<option value="">Choose Stepchart Level</option>
							<option ng-repeat="stepchartLevelItem in stepchartLevels" value="{[{ stepchartLevelItem }]}">{[{ stepchartLevelItem }]}</option>
						</select>
					</div>
				</div>
				<button id="search" type="button" class="btn btn-primary" ng-click="onSearch($event)">
					<i class="fas fa-search"></i> Search
				</button>
			</div>
		</div>
		<section ng-cloak ng-if="!isPristineList && isResultNotFoundShow" class="alert__block">
			<div class="alert alert-danger" role="alert">
				<strong>Oof !!</strong> Result not found
			</div>
		</section>
		<section ng-cloak ng-if="error" class="alert__block">
			<div class="alert alert-danger" role="alert">
				<strong>Error</strong>
				<br> {[{ error.message }]}
			</div>
		</section>
		<section ng-cloak ng-if="isSearchResultShow" class="alert__block">
			<div class="alert alert-success" role="alert">
				<strong>Yay !!</strong> Result Found
				<br>
				<span ng-if="trackingResult.query.params.search">Search Keyword:
					<strong>{[{ trackingResult.query.params.search }]}</strong>
				</span>
				<br ng-if="trackingResult.query.params.search">
				<span ng-if="trackingResult.query.params.stepchart_type_label">Stepchart Type:
					<strong>{[{ trackingResult.query.params.stepchart_type_label }]}</strong>
				</span>
				<br ng-if="trackingResult.query.params.stepchart_type_label">
				<span ng-if="trackingResult.query.params.stepchart_level">Stepchart Level:
					<strong>{[{ trackingResult.query.params.stepchart_level }]}</strong>
				</span>
				<br ng-if="trackingResult.query.params.stepchart_level"> Total items found:
				<strong>{[{ trackingResult.totalItems }]}</strong>
			</div>
		</section>
		<section ng-cloak ng-if="trackingResult.items.length > 0 && !isFetchingRequest && !isResultNotFoundShow && !isPristineList && !isFetchingRequestTimeout"
		 id="request-list" ng-controller="trackingUcsSubCtrl">
			{{> tracking-item}} {{> tracking-item-pagination}} {{> tracking-update-modal}}
		</section>
		<section ng-cloak ng-if="isPristineList">
			<div class="text-center" style="padding-bottom: 20px">
				<i class="far fa-list-alt" style="font-size: 25vh"></i>
				<h1>Empty List</h1>
			</div>
		</section>
		<section ng-cloak ng-if="isFetchingRequestTimeout">
			<div class="text-center" style="padding-bottom: 20px">
				<i class="fas fa-sync-alt" style="font-size: 25vh"></i>
				<h1>Timeout, please click <a href="javascript:void(0)" ng-click="reloadListTimeout($event)">here</a> to reload list</h1>
			</div>
		</section>
	</div>
</section>

{{#section 'header_components'}}
<link rel="stylesheet" href="css/tracking.css">
<link rel="stylesheet" href="lib/sweet-alert-2/sweetalert2.min.css"> {{/section}} {{#section 'footer_components'}}
<script src="/lib/lodash.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/lib/angular-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
<script src="/lib/axios.min.js"></script>
<script src="/lib/sweet-alert-2/sweetalert2.all.min.js"></script>
<script src="/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="/lib/sanitize-html.min.js"></script>
<script type="text/javascript" src="/lib/decode-html.js"></script>
<script src="/js/const.js"></script>
<script src="/js/tracking-validation.js"></script>
<script src="/js/tracking.js"></script>
<script src="/js/tracking-update.js"></script> {{/section}}