<div class='page-header page-header__background page-header__background-1'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <img class="b-main-logo img-fluid" src="/images/BOSS_PIUVN.png" />
                    <h2 class="b-header b-header--yellow clearfix">BOSS_PIUVN PUMP IT UP TEAM OFFICIAL PAGE</h2>
                </div>
            </div>
        </div>
    </div>
</div>